<h1>Welcome</h1>
<div class="container">
    <div>
        welcome {{userName}}.we are still in process of development
    </div>
    <div>
        you can manage todos here <a routerLink='/todos'>todos</a>
    </div>
</div>

<div class="container">
    <div>
        you can click here to get the welcome message 
        <button (click) = "getWelcomeMessage()" class="btn btn-success">Welcome Message</button>
    </div>
</div>

<div class="container">
    <div *ngIf = messageFromServer>
        Message from the server is
        {{messageFromServer}}
    </div>
</div>